#navBar{
    display: flex;
    justify-content: space-evenly;
    }
    #head1{
        background-image: url(75azadi.jpg);
        height: 90px;
        width: 90px;
        background-size: cover;
    }
    #head2{
        background-image: url(akglogo.png);
        height: 90px;
        width: 90px;
        background-size: contain;
    }
    #head3{
    width: 350px;
    height: 96px;
    }
    #akgName{
    
        margin-top: 0px;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #naacLogo{
        background-image: url(NAAC.jpeg);
        height: 100px;
        width: 100px;
        background-size: cover;
    }
    #idOne{
        text-align: center;
        font-style: oblique;
        color: antiquewhite;
        background-color: black;

    }
    #society{
        display: flex;
        justify-content: space-evenly;
    }
    #compSInd{
        background-image: url(CSI.png);
        height: 200px;
        width: 180px;
        background-size: contain;
        box-shadow:  3px 3px 3px 3px rgb(153, 143, 143);
    }
    #socioaAE{
        background-image: url(SAE.png);
        height: 200px;
        width: 200px;
        background-size: contain;
        box-shadow:  3px 3px 3px 3px rgb(153, 143, 143);
    }
#line{
    height: 6px;
    width: 100%;
    background-color: rgb(39, 19, 27);
    margin-top: 20px;
}
    #headin_Csi{
        text-align: center;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    }
#description_Csi{
background-color: rgb(105, 99, 99);
border: 10px orange solid;
display: flex;
}
    #des_One{
    text-align: justify;
    font-size: 20px;
    width: 50%;
    }
    #image_One{
        background-image: url(CSI_1.jpg);
        height :300px;
        width: 50%;
        background-size: contain;
    }
    #des_Two{
        margin-top: 300px;
        font-size: 20px;
    }
#domain_Img{
    display: flex;
    justify-content:  space-evenly;
}
#domain_Img_One{
    background-image: url(reactjs-2.png);
    height: 100px;
    width: 200px;
    background-size: contain;
    margin-top: 50px;
}
#domain_Img_Two{
    background-image: url(htmlcssjs.png);
    height: 200px;
    width: 200px;
}
#domain_Img_Three{
    background-image: url(mongoDB.png);
    height: 200px;
    width: 150px;
    background-size: contain;
}
#first_Type{
    border: 4px aquamarine solid;
    text-align: center;
}
#one{
    font-weight: bold;
    border: crimson 2px dashed;
    margin-top: 3px;
    font-size: 30px;
}
#two{
    font-weight: bold;
    border: crimson 2px dashed;
    margin-top: 3px;
    font-size: 30px;
}
#three{
    font-weight: bold;
    border: crimson 2px dashed;
    margin-top: 3px;
    font-size: 30px;
}
#four{
    font-weight: bold;
    border: crimson 2px dashed;
    margin-top: 3px;
    font-size: 30px;
}
#five{
    font-weight: bold;
    border: crimson 2px dashed;
    margin-top: 3px;
    font-size: 30px;
}
#line_Two{
    width: 100%;
    height: 12px;
    background-color: darkolivegreen;

}
#headin_Sae{
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
#headline_Sae{
    font-style: italic ;
    
}
#sae_One_One{
    font-size: 20px;
    background-color: cadetblue;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: justify;
}
#sae_Img{
    background-image: url(sae-2.jpg);
    height :800px;
    width: 100%;
    background-size: cover;
}
#hove_Img_One{
    border: 2px blue inset;
    font-size: 30px;
    margin-left: 500px;
    margin-right:500px;
    text-align: center;
    transition: all 2s ease-in;
}
#hove_Animate{
    text-align: center ;
}
#hove_Img_Two{
    border: 2px blue inset;
    font-size: 30px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    transition: all 2s ease-in;
}
#hove_Img_Three{
    border: 2px blue inset;
    font-size: 30px;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    transition: all 2s ease-in;
}
#last{
    width: 100%;
    height: 50px;
    background-color: black;
}
#last_Type{
    color: beige;
    text-align: center;
}