#navBar{
    display: flex;
    justify-content: space-evenly;
    }
    #head1{
        background-image: url(75azadi.jpg);
        height: 90px;
        width: 90px;
        background-size: cover;
    }
    #head2{
        background-image: url(akglogo.png);
        height: 90px;
        width: 90px;
        background-size: contain;
    }
    #head3{
    width: 350px;
    height: 96px;
    }
    #akgName{
    
        margin-top: 0px;
        font-size: 20px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
    #naacLogo{
        background-image: url(NAAC.jpeg);
        height: 100px;
        width: 100px;
        background-size: cover;
    }
#head{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border: chocolate 2px solid;
}
#taP{
    text-align: center;
    border: 2px brown inset;
    background-color: burlywood;
}
#taP_Second{
    background-image: url(tandp.jpg);
    width: 400px;
    height: 200px;
    background-size: contain;
    margin-left: 450px;
}
#train{
    font-family:Georgia, 'Times New Roman', Times, serif
}
#obiWan{
    display: flex;
    justify-content: space-between;
}
#training{
    width: 50%;
    text-align: justify;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
#anaKin{
    background-image: url(pacgraph.png);
    width: 500px;
    height: 320px;
    background-size: cover;
    margin-right: 50px;
    box-shadow: 10px 10px 10px 10px lightcoral; 
}
#topRecruit{
    text-align: center;
    font-style: italic;
    border: 1px rgb(108, 53, 139) outset;
    border-radius: 2px;
    margin-top: 50px;
}
#recruit_First{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
#comp_One{
background-image: url(Amozon.png);
height: 70px;
width: 170px;
background-size: contain;
border: royalblue 2px dashed;
border-radius: 25px 5px;
}
#comp_Two{
background-image: url(GoogleI.png);
height: 60px;
width: 160px;
background-size: contain;
border: royalblue 2px dashed;
border-radius: 25px 5px;
}
#comp_Three{
background-image: url(Microsoft.png);
height: 70px;
width: 170px;
background-size: contain;
border: royalblue 2px dashed;
border-radius: 25px 5px;
}
#recruit_Second{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
#comp_Four{
background-image: url(infosys.jpg);
height: 70px;
width: 107px;
background-size: contain;
border: royalblue 2px dashed;
border-radius: 5px 25px;
}
#comp_Five{
background-image: url(tech.jpg);
height: 60px;
width: 92px;
background-size: contain;
border: royalblue 2px dashed;
border-radius: 5px 25px;
}
#comp_Six{
background-image: url(AirForce.png);
height: 70px;
width: 70px;
background-size: contain;
border: royalblue 2px dashed;
border-radius: 5px 25px;
}
#recruit_Third{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}
#comp_Seven{
background-image: url(AccentureIcon.png);
height: 48px;
width: 107px;
background-size: contain;
border: royalblue 2px dashed;
border-radius: 10px;
}
#comp_Eight{
background-image: url(tcs.jpg);
height: 60px;
width: 100px;
background-size: contain;
border: royalblue 2px dashed;
border-radius: 10px
}
#end{
    background-color: black;
}
h2{
    text-align: center;
    color: thistle;
}