*{
    padding: 0;
    margin: 0;
}
.navBarLogo{
    display: flex;
    justify-content: space-between;
    
    
}
.navBarImg{
    height: 100px;
    width: 100px;
}
.navBar{
    display: flex;
    justify-content: space-evenly;
    background-color: black;
    height: 50px;
    align-items: center;
    border-bottom:1px teal solid ;
    border-top:1px teal solid ;
}
.contents{
    color: antiquewhite;
    font-weight:bolder;
}
.akgec{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
    font-size: 20px;
}
.akgecUniversity{
    font-weight: lighter;
}
.naacCertificationImg{
    width: 100%;
}
#aboutAKGEC{
text-align: center;
font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
margin-top: 20px;
}
.line{
    border-bottom: 4px teal solid;
    margin-left: 400px;
    margin-right: 400px;
}
.akgDescription{
    display: flex;
}
.akgWrittenDescription{
    font-size: 1.5em;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 60px;
}
.akgImg{
    margin-left: 50px;
    margin-top: 30px;
}
.lineTwo{
    border-bottom: 6px green solid;
    margin-top: 50px;
}
#featuredCourses{
    text-align: center;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 20px;
}
.lineThree{
    border-bottom: 4px maroon solid;
    margin-left: 400px;
    margin-right: 400px;
}
.featuredCoursesDescription{
    display: flex;
    justify-content: space-evenly;
}
.courseHeading{
    font-weight: bold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 5px;
}
.nameCources{
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 10px;
    padding-left: 5px;
    border-bottom: 1px rgb(120, 214, 198) solid;
}
.totalIntake{
    font-weight: lighter;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 5px;
}
.bTech{ 
    margin-top: 50px;
    border: 2px rgb(24, 111, 101) solid;
    transition: all 0.2s  ease-in;
}
.bTech:active{ 
    margin-top: 50px;
    border: 2px rgb(24, 111, 101) solid;
    
}
.bTech:hover{
    transform: scale(1.2);
}
.lineFour{
    border-bottom: 6px rgb(155, 117, 21) solid;
    margin-top: 50px;
}
.footer{
    display: flex;
    justify-content: space-evenly;
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: rgb(51, 53, 54);

}
.addressHeading{
    font-size: 30px;
    font-weight: bold;
    color: antiquewhite;
}
.quickLinksHeading{
    font-size: 30px;
    font-weight: bold;
    color: antiquewhite;
}
.address{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
}
.contacts{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
}
.footerThirdHeading{
    font-size: 30px;
    font-weight: bold; 
    color: antiquewhite;
}
li{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    color: antiquewhite;
}
.aboutAkgecTwo{
    font-size: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: antiquewhite;
}